@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Lato|Roboto');
@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');

:root {
	--bgColor: #e36396;
	--textColor: #39305e;
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #F4F4F4;
	padding: 0;
	margin: 0;
}

.modal-open {
    overflow: hidden;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 60px;
	ul {
		margin: 0;
		padding: 20px;
		display: flex;
		list-style-type: none;
		justify-content: space-between;
	}
	li a {
		font-family: 'Cutive Mono', monospace;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #D749E4;
		text-decoration: none;
		margin: 0 10px;
		font-size: 13px;
		cursor: pointer;
		font-weight: bold;
		color: #e85c81;
	}
}

.wrapper {
	display: flex;
	height: calc(100vh - 120px);
	justify-content: center;
	flex-direction: column;
}

.header {
 	padding: 10px 30px;
	font-family: 'Cutive Mono', monospace;
	text-align: center;

	a {
		color: #e85c81;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

.box {
	font-family: 'Lato', sans-serif;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 16px;
	transition: 0.5s all ease;
	transform: translateY(30px);
	opacity: 0;

	&:hover {
		transform: scale(0.9);
		transition: 0.5s all ease;
		.content {
			transition: 0.5s all ease;
		}
	}
}

.expand {
	width: 100px;
	height: 100px;
	transition: 0.5s all ease;
}


.about-modal {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0%;
	left: 0%;
	background: var(--bgColor);
	color: var(--textColor);
	width: 100%;
	height: 100vh;
	transform: translateY(-200%);
	transition: 0.7s all ease;
	font-size: 120px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;

	p {
		margin: 0;
	}

	a {
		color: var(--textColor);
	}
}

.about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding: 10px;
}


.modal {
	position: absolute;
	top: 0%;
	background: var(--bgColor);
	color: var(--textColor);
	width: 100%;
	height: 100vh;
	transition: 0.5s all ease;
	transform: translateX(-100%);
	text-transform: uppercase;
	font-size: 100px;
	font-family: 'Oswald', sans-serif;
	overflow: hidden;

	p {
		margin: 0;
		padding: 10px;
	}
}

.modal-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 40px;
}

.content {
	padding: 5px;
	opacity: 1;
	transition: 0.5s all ease;
}

.enter {
	transition: 0.5s all ease;
	transform: translateY(0);
	opacity: 1;
}

.show {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}


.close {
	width: 30px;
	height: 30px;
	// border: 2px solid var(--textColor);
	border-radius: 50%;
	position: relative;
	margin: 15px;

	&:before, &:after{
		position: absolute;
		content: '';
		width: 2px;
		height: 20px;
		background: var(--textColor);
		 top: 5px;
    	left: 14px;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

	&:hover {
		background: var(--textColor);

		&:before, &:after{
			background: var(--bgColor);
		}
	}
}

svg path {
	stroke: var(--textColor);
	fill: none;
}

.copy {
	position: relative;
	overflow: hidden;
	margin: 0 30px;
	font-size: 20px;
	&:before {
		position: absolute;
		content:'';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateX(-120%);
		background: var(--textColor);
		transition: 0.8s all ease;
	}
}

.copied {
	svg path {
		stroke: var(--textColor);
		fill: var(--textColor);
	}
	&:before {
		transition: 0.8s all ease;
		transform: translateX(120%);
	}
}



@media (max-width: 800px) {

	nav {
		justify-content: center;
	}
	
	.about-text {
		text-align: center;
	}

	#about p {
		font-size: 0.5em;
	}

	.modal {
		text-align: center;
		height: auto;
	}

	.box {
		width: 100px;
		height: 100px;
	}

	.modal p {
		font-size: 0.5em;
	}
}

