@import url("https://fonts.googleapis.com/css?family=Lato|Roboto");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Lato|Roboto");
@import url("https://fonts.googleapis.com/css?family=Mukta:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Poppins");
:root {
  --bgColor: #e36396;
  --textColor: #39305e;
  --toggleBg: #FFFFFF;
  --toggleBgBorder: #232323;
  --toggleBtn: #444444; }

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #F4F4F4;
  padding: 0;
  margin: 0; }

.modal-open {
  overflow: hidden; }

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 60px; }
  nav ul {
    margin: 0;
    padding: 20px;
    display: flex;
    list-style-type: none;
    justify-content: space-between; }
  nav li a {
    font-family: 'Cutive Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #D749E4;
    text-decoration: none;
    margin: 0 10px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    color: #e85c81; }

.wrapper {
  display: flex;
  height: calc(100vh - 120px);
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.header {
  padding: 10px 30px;
  font-family: 'Cutive Mono', monospace;
  text-align: center; }
  .header a {
    color: #e85c81; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  flex-wrap: wrap; }

.box {
  font-family: 'Lato', sans-serif;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  transition: 0.5s all ease;
  transform: translateY(30px);
  opacity: 0;
  margin: 5px; }
  .box:hover {
    transform: scale(0.9);
    transition: 0.5s all ease; }
    .box:hover .content {
      transition: 0.5s all ease; }

.expand {
  width: 100px;
  height: 100px;
  transition: 0.5s all ease; }

.content {
  padding: 5px;
  opacity: 1;
  transition: 0.5s all ease; }

.enter {
  transition: 0.5s all ease;
  transform: translateY(0);
  opacity: 1; }

.modal-parent {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--bgColor);
  background-color: var(--toggleBg);
  transition: 0.5s all ease;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  font-family: 'Poppins', sans-serif; }

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; }

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px; }

#toggle {
  left: 20px;
  top: 20px;
  color: var(--toggleBtn);
  font-size: 20px; }

.close {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin: 13px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .close:before, .close:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 15px;
    background: var(--textColor); }
  .close:before {
    transform: rotate(45deg); }
  .close:after {
    transform: rotate(-45deg); }
  .close:hover {
    background: var(--textColor); }
    .close:hover:before, .close:hover:after {
      background: var(--bgColor); }

.modal-nav {
  width: 30%;
  min-height: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0 rgba(51, 51, 51, 0.2);
  margin: 20px; }
  .modal-nav button {
    border: none;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 2.5px;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
    margin-top: 0; }
    .modal-nav button:active {
      opacity: 0.6; }
  .modal-nav #upper {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif; }
  .modal-nav-1 {
    background-color: var(--bgColor); }
    .modal-nav-1 p, .modal-nav-1 h2 {
      color: var(--textColor); }
    .modal-nav-1 button {
      background-color: var(--textColor);
      color: var(--bgColor); }
  .modal-nav-2 {
    background-color: var(--textColor); }
    .modal-nav-2 p, .modal-nav-2 h2 {
      color: var(--bgColor); }
    .modal-nav-2 button {
      background-color: var(--bgColor);
      color: var(--textColor); }

code {
  padding: 40px; }
  code p {
    margin: 3px; }

.show {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }

.toggleBg {
  display: flex; }
  .toggleBg li {
    width: 20px;
    height: 20px;
    list-style-type: none;
    margin: 5px;
    box-sizing: border-box; }
  .toggleBg .bg-1 {
    background-color: #FFFFFF; }
  .toggleBg .bg-2 {
    background-color: #F5F5F5; }
  .toggleBg .bg-3 {
    background-color: #666666; }
  .toggleBg .bg-4 {
    background-color: #333333; }
  .toggleBg .bg-5 {
    background-color: #000000; }
  .toggleBg .bg-1 {
    border: 3px solid var(--toggleBgBorder); }

.mobile {
  display: none; }

@media (max-width: 800px) {
  .mobile {
    display: block;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    padding: 5px; }
    .mobile h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

  .wrapper, .modal-parent {
    display: none; }

  nav {
    justify-content: center; }

  .modal-parent {
    text-align: center;
    height: auto; }

  .modal-wrapper {
    display: block; }

  .modal-nav {
    width: 100%; }

  .box {
    width: 100px;
    height: 100px; }

  .modal p {
    font-size: 0.5em; } }

/*# sourceMappingURL=index.css.map */
